@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body {

    min-height: 100vh;
    background-color: #060000;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #B385F2;
}

::-webkit-scrollbar-track{
    background-color: #060000;
}



nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    height: 10vh;
    transition: 0.5s ease-in-out;
    letter-spacing: 2px;
}

.fixed {
    position: fixed;
    transform: translateY(-100%);
    
    z-index: 1000;
    background-color: #060000;
    z-index: 1000;
}

.fixed::after {
    content: '';
    position: absolute;
    background-color: #B385F2;
    width: 100%;
    height: 1vh;
    top: 10vh;
    filter: blur(5px);
}

.fixed.animate-in {
    animation: 0.5s forwards ease-in-out fixedNavbar; 

}

.fixed.animate-out {
    animation: 0.5s forwards ease-in-out reverseFixedNavbar;        
}

@keyframes reverseFixedNavbar {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-100%);
    }

}

.logo {
    font-size: 1.5em;
    color: #fff;
    pointer-events: none;
    font-weight: 600;
    pointer-events: none
}

.logo label{
    color: #B385F2;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation:hover li{
    opacity: 0.8;
 
}


.navigation li {
    text-decoration: none;
    color: white;
    margin-inline: 1.5vw;
    font-weight: 600;
    font-size: 1em;
    list-style: none;
    opacity: 1;
    position: relative;
}

.navigation li::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #B385F2;
    position: absolute;
    bottom: 0;
    left: 0;    
    transition: 0.3s ease-in-out;
}

.navigation li:hover{
    cursor: pointer;
    opacity: 1;
}

.navigation li:hover::after{
    width: 100%;
}

.menu {
    display: none;
}

.menu:hover {
    cursor: pointer;
}

.menu div {
    background-color: #fff;
    height: 2px;
    width: 32px;
    margin: 8px;
    transition: 0.3s;
}

.parallax{
   position: relative; 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow-y: hidden;
   letter-spacing: 2px;
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

#text {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
     position: absolute;
    width: 100%;
    text-align: center;

}

.textChange{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.animated-text {
    color: white;
    position: relative;
    display: inline-block;
    height: auto;
    padding-right: 10px;
}

.animated-text::after {
    content: ''; 
    position: absolute; 
    width: 2px; 
    height: 100%;
    background-color: rgb(255, 255, 255); 
    top: 0; 
    right: 0; 
    animation: cursor 0.6s infinite ease-in-out;
}


.smallText{
    color: white;
    font-size: 2vw;
    opacity: 0.8;
    margin: 2%;
}

.cards {
    width: 15%;
    padding: 0.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #180700;
    border-radius: 10px;
   
}

.number{
    font-size: 1.5vw;
}

.info{
    font-size: 1vw;
    opacity: 0.8;
}

.textAnimate{
    color: transparent;
    font-size: 4vw;
    background: linear-gradient(45deg, #023373, #5854BF, #B18DF9, #E288CE);
    background-size: 400% 100%;
    animation: degradeAnimation 5s linear alternate infinite;
    -webkit-background-clip: text;
    background-clip: text;
    margin: 2%;
}

@keyframes degradeAnimation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}


@keyframes cursor {
    to{
        opacity: 0;
    }
}

@keyframes fixedNavbar {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.display {
    z-index: 100;
    width: 1024px;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 2%;

}

.myPhoto {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease-in-out;
}

.box-degrade {
    position: relative;
    width: 80%;
    background-color: #060000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.box-degrade::before, .box-degrade::after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(45deg, #023373, #5854BF, #B18DF9, #E288CE);
    z-index: -1;
    background-size: 500% 100%;
    border-radius: 15px;
    animation: degradeAnimation 2s linear alternate infinite;
}

.box-degrade img{
    width: 100%;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}

.myPhoto:hover{
    transform: translatey(-10px);
}

.myPhoto .box-degrade img:hover{
    filter: grayscale(0);
}


div.whoIAm {
    width: 60%;
    color: white;
    text-align: center;
}

div.whoIAm .text {
    font-size: 1vw;
    text-align: left;
}

.dinamicCard {
    border: 1px solid #595959;
    border-radius: 10px;
    padding: 2%;
}

.items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: left;
}

.item {
    font-size: 1vw;
    cursor: pointer;
    margin-right: 1.5%;
    transition: 0.3s  ease-in-out;
}

.emphasis { 
    color: #B385F2;
}

.paragraph {
    margin: 2%;
}

.item:hover, .item.active {
    color: #B385F2;
}

.dinamicCard .content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dinamicCard .skills, .education {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 3%;
    transform: translateX(10px);
}

.cardItem {
    text-align: left;
    font-size: 0.7vw;
    text-wrap: wrap;
    margin: 5%;
}

.titleItem {
    margin-bottom: 0.5rem;
}

.cardContent ul {
    list-style: none;
}

.skills {
    display: grid;
}

.education {
    display: none;
}

.in {
    animation: join 0.3s forwards linear;
}

.out {
    animation: exit 0.3s forwards linear;
}

@keyframes join {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes exit {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.cardsServ{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cardServ{
    flex-direction: column;
    background-color: #060000;
    width:auto;
    text-align: center;
    color: #fff;
    padding: 2%;
    margin: 5%;
    transition: 0.3s linear;
}

.cardServ:hover{
    background-color: transparent;
    transform: translateY(-5px);
}

.cardServ img{
    width: 50%;
    filter: invert(100%);
    height: auto;
}

.cardServ div {
    font-size: 1vw;
    margin: 5%;
}

.titleCard {
    width: 100%;
    font-size: 1.5vw !important;
    text-wrap: wrap;
}

@media (max-width: 1440px){
    .cardItem {
        font-size: 1vw;
    }
}

@media (max-width: 1024px){

    .display {
        width: auto;
    }

    .cards{
        width: 20%;
    }

    .number{
        font-size: 2vw;
    }

    .info{
        font-size: 1.5vw;
    }

    .textAnimate {
        font-size: 5vw;
    }

    div.whoIAm .text {
        font-size: 1.5vw;
    }

    .item {
        font-size: 1.5vw;
    }

    .cardItem {
        font-size: 1.5vw;
    }

    .cardServ div {
        font-size: 1.5vw;
    }
    
    .titleCard {
        font-size: 2.5vw !important;
    }

    .cardServ img{
        width: 30%;
    }
}

@media (max-width: 768px){
    body {
        overflow-x: hidden;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #060000;
        z-index: 1000;
        box-shadow: #B385F2 0px 5px 15px 0px;
    }

    .navigation {
        position: fixed;
        top: 10vh;
        right: 0;
        background-color: #060000;
        width: 50vw;
        height: 90vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }

    nav{
        justify-content: space-between;
        padding-inline: 10vw;
    }

    .navigation li{
        opacity: 0;
        margin: 10%;
    }

    .navigation.menuOpen {
        transform: translateX(0);
    }

    .menu {
        display: block;
    }

    .menu.changeMenu .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .menu.changeMenu .line2 {
        opacity: 0;
    }

    .menu.changeMenu .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }

    @keyframes changeLinks {
        from {
            transform: translateX(50px);
            opacity: 0;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    .textChange{
        display: block;
        font-size: 5vw;
    }

    .animated-text{
        height: 1.5em;
    }

    .smallText{
        font-size: 2.5vw;
    }

    .cards{
        width: 25%;
    }

    .number{
        font-size: 2.5vw;
    }

    .info{
        font-size: 2vw;
    }

    .display {
        flex-direction: column-reverse;    
    }

    div.whoIAm{
        width: 100%;
        background-color: black;
        margin-bottom: 2%;
        margin-bottom: 3%;
    }

    div.whoIAm .text{
        font-size: 1.7vw;
    }

    .textAnimate {
        font-size: 6vw;
    }

    .item {
        font-size: 1.7vw;
    }

    .cardItem {
        font-size: 1.7vw;
    }

    .myPhoto {
        width: 60%;
    }

    .cardServ div {
        font-size: 1.7vw;
    }
    
    .titleCard {
        font-size: 3..5vw !important;
    }
}

@media (max-width: 630px){
    .parallax {
        overflow-x: hidden;
    }

    div.whoIAm .text{
        font-size: 2vw;
    }

    .textAnimate {
        font-size: 6vw;
    }

    .item {
        font-size: 2vw;
    }

    .cardItem {
        font-size: 2vw;
    }

    .cardServ div {
        font-size: 2vw;
    }
    
    .titleCard {
        font-size: 3.5vw !important;
    }
}

@media (max-width: 600px){
    .parallax img {
        width: auto;
        object-fit: cover; 
        object-position: center;
    }

    .cardServ img{
        width: 40%;
    }
}

@media (max-width: 425px){
    .smallText{
        font-size: 3.5vw;
    }

    .cards{
        width: 35%;
    }

    .number{
        font-size: 3.5vw;
    }

    .info{
        font-size: 3vw;
    }

    div.whoIAm .text{
        font-size: 2.5vw;
    }

    .textAnimate {
        font-size: 7vw;
    }

    .item {
        font-size: 2.5vw;
    }

    .cardItem {
        font-size: 2.5vw;
    }

    .cardServ div {
        font-size: 2.5vw;
    }
    
    .titleCard {
        font-size: 4vw !important;
    }

    .cardServ img{
        width: 20%;
    }
}

@media (max-width: 320px){
    .cards{
        width: 40%;
    }

    div.whoIAm .text{
        font-size: 3vw;
    }

    .textAnimate {
        font-size: 8vw;
    }

    .item {
        font-size: 3vw;
    }

    .cardItem {
        font-size: 3vw;
    }

    .cardServ div {
        font-size: 3vw;
    }
    
    .titleCard {
        font-size: 5vw !important;
    }
}

